
.container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0cap 2px rgba(0, 0, 0, 0.599);
    width: 40%;
    
}
.heroBox{
    background-image: url(../../public/image/background2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    position: relative;
}
.heroBox::before{
    content:'';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(239, 150, 15, 0.411);
    z-index: -1;

}